/* Slider */

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.slick-arrow {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 28px;
  font-size: 0;
  background-color: rgba(#d2a66b, 0.88);
  background-image: url("../img/slider-arrow-left.png");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  transform: translateY(-50%);
  z-index: 2;
  &:hover {
    background-color: #fff;
    background-image: url("../img/slider-arrow-right--active.png");
  }
  &.slick-prev {
    left: 0;
    &:hover {
      transform: translateY(-50%) rotate(180deg);
    }
  }
  &.slick-next {
    right: 0;
    transform: translateY(-50%) rotate(180deg);
    &:hover {
      transform: translateY(-50%);
    }
  }
  &.slick-disabled {
    opacity: 0.5;
  }

  @media #{$tablet-widths} {
    width: 21px;
    height: 65px;
  }

  @media #{$desktop-widths} {
    width: 37px;
    height: 128px;
    background-size: 13px;
  }
}

.slick-dots {
  position: absolute;
  bottom: -65px;
  left: 50%;
  display: flex;
  justify-content: space-between;
  width: 98px;
  padding: 0;
  margin: 0;
  list-style: none;
  transform: translateX(-50%);
  li {
    &.slick-active {
      button {
        background-color: #cb944c;
      }
    }
    &:not(.slick-active):hover {
      button {
        background-color: rgba(#cb944c, 0.6);
      }
    }
    button {
      width: 18px;
      height: 18px;
      padding: 0;
      font-size: 0;
      background-color: rgba(#cb944c, 0.33);
      border: none;
      border-radius: 50%;
    }
  }
}
