.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  > * {
    display: none;
  }
}

.contact-info__phone {
  display: block !important;
  width: 16px;
  height: 17px;
  font-size: 0;
  background-image: url('../img/icons/icons-sprite.png');
  background-repeat: no-repeat;
  background-position: -47px -46px;
}
