.logo {
  a {
    display: block;
    letter-spacing: -0.1px;
    color: #747688;
  }
  img {
    display: block;
    margin-bottom: 6px;
  }
}

@media #{$tablet-widths} {
  .logo {
    img {
      width: 179px;
    }
  }
}

@media #{$desktop-widths} {

  .logo {
    a {
      letter-spacing: 0.3px;
    }
    img {
      width: 247px;
    }
  }

}
