.main-header__wrapper {
  @include wrapper();
  display: flex;
  flex-wrap: wrap;
  > * {
    flex-basis: $header-item-flex-basis-mobile;
    flex-grow: 1;
    min-height: 40px;
  }
}

.main-header__logo {
  order: 2;
  flex-basis: 100% !important;
  margin-top: 13px;
  margin-left: 20px;
}

.main-header__home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header__home-icon {
  display: block;
  width: 20px;
  height: 16px;
  background-image: url("../img/icons/icons-sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -10px;
}

.main-header__search {
  display: flex;
  align-items: center;
  justify-content: center;
  > * {
    display: none;
  }
}

.main-header__search-icon {
  display: block !important;
  width: 16px;
  height: 16px;
  background-image: url("../img/icons/icons-sprite.png");
  background-repeat: no-repeat;
  background-position: -89px -10px;
}

.main-header__basket-icon {
  display: block !important;
  width: 17px;
  height: 17px;
  background-image: url("../img/icons/icons-sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -46px;
}

.main-header__user-icon {
  display: block !important;
  width: 19px;
  height: 16px;
  background-image: url("../img/icons/icons-sprite.png");
  background-repeat: no-repeat;
  background-position: -50px -10px;
}
