.user-block {
  display: flex;
}

@media #{$tablet-widths} {

  .user-block__item {
    display: flex;
    align-items: center;
    &:not(:last-of-type) {
      margin-right: 19px;
    }
    a {
      font-size: 12.7px;
      font-weight: bold;
      color: $dark-blue-color;
      &:hover {
        color: $light-brown-color;
      }
    }
  }

  .user-block__login {
    position: relative;
    padding-left: 21px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 16px;
      height: 14px;
      background-image: url("../img/icons/icons-sprite-tablet.png");
      background-repeat: no-repeat;
      background-position: -45px -10px;
      transform: translateY(-50%);
    }
  }

}

@media #{$desktop-widths} {

  .user-block__item {
    &:not(:last-of-type) {
      margin-right: 21px;
    }
    a {
      font-size: 15.6px;
    }
  }

  .user-block__login {
    padding-left: 28px;
    &::before {
      width: 19px;
      height: 17px;
      background-image: url("../img/icons/icons-sprite-desktop.png");
      background-position: -10px -53px;
    }
  }

}
